@model CAPA_ENTIDADES_NEGOCIO.CLASES.PlantaBE_VariablesBE_AmbienteBE
@{
    ViewData["Title"] = "VER PLANTAS";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/VerPlantas.css">
    <title>Plantas</title>
</head>
<body>
    <div class="Contenedor">
        <div class="Carrusel">
            @foreach (var Planta in Model.Plantas)
            {
                <div class="Objeto">
                    <div class="Variable">
                        <h2>variable</h2>
                        <select id="SeleccionVariables">
                            <option disabled selected>SELECCIONE UNA VARIABLE</option>
                            @foreach (var Variable in Model.Variables)
                            {
                                <option value="@Variable.Id_Variable">@Variable.Nombre_Variable</option>
                            }
                        </select>
                        <div class="InformacionAmbiente">
                            <div class="ContenidoPrincipal" id="ContenidoPrincipal_@Planta.Id_Planta">
                                <div class="Valores Oculto" id="1">
                                    <div class="Valor">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-thermometer"
                                             width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825"
                                             fill="#ff2825" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M19 5a2.828 2.828 0 0 1 0 4l-8 8h-4v-4l8 -8a2.828 2.828 0 0 1 4 0z" />
                                            <path d="M16 7l-1.5 -1.5" />
                                            <path d="M13 10l-1.5 -1.5" />
                                            <path d="M10 13l-1.5 -1.5" />
                                            <path d="M7 17l-3 3" />
                                        </svg>
                                        <p><span id="Temperatura" class="Letrero">@Model.Ambiente[0].Valor_Variable_Ambiente</span> @Model.Ambiente[0].Simbolo_Unidad_Medida</p>
                                    </div>
                                    <div class="Intervalo">
                                        <div class="Segundos">
                                            <p>INTERVALO DE REFRESCO:</p>
                                            <input type="number" min="1" max="10" value="5" class="InputIntervalo" id="InputIntervalo" />
                                            <p>SEGUNDOS</p>
                                        </div>
                                        <button onclick="updateRefreshRate()" class="BtnIntervalo">Actualizar tasa de refresco</button>
                                    </div>
                                </div>
                                <div class="Valores Oculto" id="2">
                                    <div class="Valor">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-droplet"
                                             width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb"
                                             fill="#00abfb" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M6.8 11a6 6 0 1 0 10.396 0l-5.197 -8l-5.2 8z" />
                                        </svg>
                                        <p><span class="Letrero" id="Humedad">@Model.Ambiente[1].Valor_Variable_Ambiente </span> @Model.Ambiente[1].Simbolo_Unidad_Medida</p>
                                    </div>
                                    <div class="Intervalo">
                                        <div class="Segundos">
                                            <p>INTERVALO DE REFRESCO</p>
                                            <input type="number" min="1" max="10" value="5" class="InputIntervalo" id="InputIntervalo" />
                                            <p>SEGUNDOS</p>
                                        </div>
                                        <button onclick="updateRefreshRate()" class="BtnIntervalo">Actualizar tasa de refresco</button>
                                    </div>
                                </div>
                                <div class="Valores Oculto" id="3">
                                    <div class="Valor">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bolt" width="40"
                                             height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffec00" fill="#ffec00"
                                             stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <polyline points="13 3 13 10 19 10 11 21 11 14 5 14 13 3" />
                                        </svg>
                                        <p><span class="Letrero" id="Conductividad">@Model.Ambiente[2].Valor_Variable_Ambiente </span>  @Model.Ambiente[2].Simbolo_Unidad_Medida</p>
                                    </div>
                                    <div class="Intervalo">
                                        <div class="Segundos">
                                            <p>INTERVALO DE REFRESCO</p>
                                            <input type="number" min="1" max="10" value="5" class="InputIntervalo" id="InputIntervalo" />
                                            <p>SEGUNDOS</p>
                                        </div>
                                        <button onclick="updateRefreshRate()" class="BtnIntervalo">Actualizar tasa de refresco</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Planta">
                        <h2>@Html.ActionLink(Planta.Nombre_Planta, "VerPlanta", new { IdPlanta = Planta.Id_Planta })</h2>
                        <p>Tipo de Planta: @Planta.Tipo_Planta_Planta</p>
                        <p>Diámetro del Tallo: @Planta.Diametro_Tallo_Planta @Planta.Unidad_Medida_Planta_Planta</p>
                        <p>Tiempo de Cultivo: @Planta.Tiempo_Cultivo_Planta @Planta.Unidad_Tiempo_Planta_Planta</p>
                        <p>Cantidad de Hojas: @Planta.Cantidad_Hojas_Planta</p>
                        <p>Altura: @Planta.Altura_Planta cm</p>
                    </div>
                </div>
            }
        </div>
        <div class="Botones">
            <button id="PlantaPrevia">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-left" width="65"
                     height="65" viewBox="0 0 24 24" stroke-width="1.5" stroke="#03e9f4" fill="#03e9f4"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M20 15h-8v3.586a1 1 0 0 1 -1.707 .707l-6.586 -6.586a1 1 0 0 1 0 -1.414l6.586 -6.586a1 1 0 0 1 1.707 .707v3.586h8a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1z" />
                </svg>
            </button>
            <a class="RegistarPlanta" asp-controller="Planta" asp-action="AgregarPlanta">Agregar Planta</a>
            <button id="PlantaPosterior">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right" width="65"
                     height="65" viewBox="0 0 24 24" stroke-width="1.5" stroke="#03e9f4" fill="#03e9f4"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" />
                </svg>
            </button>
        </div>
    </div>
    <script src="~/js/Ambiente.js"></script>
    <script src="~/js/VerPlantas.js"></script>
</body>
</html>